.player {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;


  span {
    font-size: 32px;
    margin-left: 16px;
    color: #f7594e;
  }
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: #0d6efe !important;
}
