.player {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;


  span {
    font-size: 32px;
    margin-left: 16px;
    color: white;
  }
  backdrop-filter: blur(6px);

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: #0d6efe !important;
}
